h1 {
    color :rgb(255, 255, 255);
    font-family:Arial;

}

.zjm{
    width: 405px;
    height: 300px;
    margin: 100px auto;

    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    }

h2{
    color: rgb(255, 255, 255);
    text-align: center;
    }
.account{
     color: rgb(255, 255, 255);
     font-weight:700;
     }
.password{
      color: rgb(255, 255, 255);
      font-weight:700;
      }
input#name {
     width: 250px;
     height: 40px;
     border: 1px solid #0a070e;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
        }
input#nm {
     width: 250px;
     height: 40px;
     border: 1px solid #0a070e;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
        }
.submitbtn1 {
            margin: 20px;
            padding: 0px;
            display: block;
            outline: none;
            border: none;
            width: 150px;
            height: 30px;
            color: white;
            font-size: 10px;
            border-radius: 50px;
            text-align: center;
            background-color: #f31527;
            float:left


        }
.submitbtn1:hover {
         background-color: #4CAF50; /* Green */
         color: white;
}
.btn2 {
            margin:20px;
            padding: 0px;
            display: block;
            outline: none;
            border: none;
            width: 150px;
            height: 30px;
            color: white;
            font-size: 10px;
            border-radius: 150px;
            text-align: center;
            background-color: #f31527;
            float:right
        }
.btn2:hover {
         background-color: #4CAF50; /* Green */
         color: white;}