<!DOCTYPE html>
<html lang="en">
<title>房屋入侵检测系统</title>

<head>
    <meta charset="UTF-8">
    <title>Lightly-HTML-Project</title>
    <link type="text/css" rel="stylesheet" href="static/css/style.css"/>


</head>

<body background="static/image/background.gif">
<h1 align="center">欢迎登录房屋入侵检测系统！</h1>
<hr/>
{%if msg%}
<h4 align="center" style="color:red">{{msg}}</h4>
{%endif%}
<div class="zjm">
    <h2>账号登录</h2>
    <hr width="406" color="white">
    </br>
    <form method="post" action="/">
        <div class="account">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;账&nbsp;号：&nbsp;&nbsp;&nbsp;
            <input type="text" id="name" class="head" placeholder="请输入账号" name="userName" required/>
        </div>
        </br>

        <div class="password">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;密&nbsp;码：&nbsp;&nbsp;&nbsp;
            <input class="keyboard" type="password" id="nm" placeholder="请输入密码" name="password" required/>
        </div>
        </br>

        <div id="btn">
            <input type="submit" value="登录" class="submitbtn1">
        </div>

    </form>
    <div id="btn2">
            <input type='button' value='邮箱验证码登录' onclick="toEmail()" class="btn2"/>
        </div>
</div>
<script type="text/javascript">
    function toEmail()
    {
        window.location="/emailLogin"
    }
</script>
</body>
</html>
